name: Deploy to AWS
on: 
    pull_request:
        types:
            - closed
    workflow_dispatch:

permissions:
    id-token: write

jobs:
    deploy:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@main
            - name: Set up Node
              uses: actions/setup-node@main
              with:
                node-version: '24'
            - name: Configure AWS Credentials
              uses: aws-actions/configure-aws-credentials@main
              with:
                role-to-assume: ${{ secrets.AWS_DEPLOY_ROLE_ARN }}
                aws-region: "us-east-1"
            - name: Install AWS CDK
              run: npm install -g aws-cdk
            - name: Deploy to AWS
              run: cdk deploy -a "npx ts-node bin/init.ts" DurableFunctionStack --require-approval never